.feature-box {
    background-color: rgba($color-white, .8);
    text-align: center;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: .2s;

    @include respond(tab-port) {
        padding: 1rem; 
    }

    &__icon {
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
        display: inline-block;
        margin-bottom: .5rem;


    }



    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 1rem 2rem rgba($color-black,0.4);
        transform: scale(1.05);
        
    }
}